<div class="flex h-full w-full">
  @if (!isTransitionPlaying()) {
  <!-- <app-about-me-button
    class="absolute"
    style="top: clamp(100px, 25%, calc(100% - 60px)); left: clamp(60px, 15%, calc(100% - 120px))"
  ></app-about-me-button> -->

  <app-about-me-button class="absolute top-[360px] left-[80px]"></app-about-me-button>
  <app-tech-stack-button class="absolute top-[200px] left-[120px]"></app-tech-stack-button>
  <app-experiences-button class="absolute top-[100px] left-[480px]"></app-experiences-button>
  <app-recognitions-button class="absolute top-[170px] right-[120px]"></app-recognitions-button>
  <app-education-button class="absolute top-[400px] right-[80px]"></app-education-button>
  }
</div>
