<a
  [routerLink]="'/about-me'"
  class="group relative inline-flex flex-col items-center justify-center"
  aria-label="About Me"
>
  <img
    alt="About Me"
    src="images/censored-id.png"
    class="h-[150px] w-auto origin-center object-contain rounded-[6px] transition-transform duration-300 ease-out [transform:perspective(330px)_rotateX(40deg)_rotateZ(-14deg)_scale(1.04)] hover:[transform:perspective(730px)_rotateX(20deg)_rotateZ(-14deg)_scale(1.04)] shadow-2xl"
  />
  <span
    class="absolute top-full mt-[6px] left-[200px] whitespace-nowrap font-medium tracking-wide text-black transition-all duration-300 ease-out before:absolute before:-bottom-1 before:left-0 before:h-[2px] before:w-0 before:bg-black before:transition-all before:duration-300 before:content-[''] group-hover:-translate-y-0.5 group-hover:scale-105 group-hover:text-black group-hover:[text-shadow:0_0_12px_rgba(0,0,0,0.25)] group-hover:before:w-full"
  >
    About Me
  </span>
</a>
