.glass-card {
  width: 800px;
  height: 40px;
  background: rgba(0, 251, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 8px 4px rgba(255, 255, 255, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 8px 12px;
  color: rgb(0, 12, 105) !important;
}
