@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind setup first */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Lato:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap');

html {
  background-color: #fefefa;
}

body {
  background-color: #fefefa;
  background-image: radial-gradient(rgba(0, 0, 0, 0.08) 2px, transparent 1px);
  background-size: 30px 30px;
  background-position: 0 0;
}
