<a
  [routerLink]="'/recognitions'"
  class="group relative inline-flex flex-col items-center justify-center"
  aria-label="Recognitions"
>
  <img
    alt="Recognitions"
    src="images/recognitions.png"
    class="h-[210px] w-auto origin-center object-contain rounded-xl"
  />
  <span
    class="absolute top-full mt-0 right-[220px] translate-x-[20px] whitespace-nowrap font-medium tracking-wide text-black transition-all duration-300 ease-out before:absolute before:-bottom-1 before:left-0 before:h-[2px] before:w-0 before:bg-black before:transition-all before:duration-300 before:content-[''] group-hover:-translate-y-0.5 group-hover:scale-105 group-hover:text-black group-hover:[text-shadow:0_0_12px_rgba(0,0,0,0.25)] group-hover:before:w-full"
  >
    Recognitions
  </span>
</a>
